* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  background-color: #008248;
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;

}

.header ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.headerLeft{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  font-size: 18px;
}

.headerRight{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 10px;
}
.glass{
  font-size: 25px;
  margin-top: 10px;
}

.link{
  color: white;
  text-decoration: none;
  margin: 10px;
}

.logo{
  color: white;
  text-decoration: none;
  margin: 10px;
  font-weight: bolder;
  font-size: 30px
}

.footer{
  margin-top: 80px;
  background-color: #343839;
  padding: 10px 0;
  width: 100%;
  color: white;
}

.footer h4{
  margin: 40px 0 80px 40px;
}

.footer ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  color: #FFFFFF59;
  margin-bottom: 50px;
}

.footer ul li:hover{
  cursor: pointer;
  color: white;
}

.socialMediaIcons{
  display: flex;
  justify-content: center;
  gap: 150px;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.socialMediaIcons a{
  color: #FFFFFF59;
}

.socialMediaIcons a:hover{
  color: white;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.carousel{
  margin-top: 100px;
  height: 240px;
  margin-bottom: 100px;
  z-index: -1;
}

.carouselItem{
  height: 320px;
  
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin: 15px;
  letter-spacing: 1.3px;
  color: #008248;
  margin-bottom: 20px;
}

h3 {
  margin-top: 10px;
}

p {
  margin: 10px 0;
  margin-bottom: 25px;
}

.filterBar{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  font-size: 18px;
}

.searchInput{
  width: 500px;
  padding: 14px 20px;
  margin-right: 50px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #008248;
  background-color: white;
  color: black;
  font-weight: bold;
}

.searchInput::placeholder{
  color: black;
}

.dateInput {
  width: 200px;
  padding: 14px 20px;
  border-radius: 10px;
  border: 1px solid #008248;
  background-color: white;
  color: black;
  font-weight: bold;
}


label{
  margin-right: 15px;
  margin-left: 15px;
  font-weight: bold;

}

select{
  width: 150px;
  padding: 14px 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #008248;
  background-color: white;
  color: black;
  font-weight: bold;
}

option{
  background-color: white;
  color: black;
  font-weight: bold;
}

.resetButton{
  padding: 15px;
  margin-left: 35px;
  border-radius: 10px;
  background-color: #008248;
  color: white;
  border: 1px solid #008248;
  font-weight: bold;
}

.resetButton:hover{
  opacity: 0.8;
  transform: scale(1.1);
  cursor: pointer;
}


.dataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;

}

.data {
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  background-color: #008248;
  padding-top: 20px;
  border-radius: 10px;
  letter-spacing: 1.5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: .3s;
}

.data:hover {
  opacity: .5;
  transform: scale(1.1);
  cursor: pointer;
}

.cardDetails{
  margin-top: 50px;
  margin-left: 40px;
  
}